out/test.aux
out/test.fdb_latexmk
out/test.fls
out/test.log
out/test.out
out/test.pdf
out/test.synctex.gz
out/test.xdv
/.idea
writing/out
writing/main.log
writing/.latexmkrc
writing/main.aux
writing/main.bbl
writing/main.bcf
writing/main.blg
writing/main.run.xml
writing/main.suc
writing/main.syc
writing/main.pdf
writing/main.pdf
